libmae_eventing/doc/schemas/socket_io/notify_sequences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/maeeventing"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:maee="http://www.example.org/maeeventing">

	<!-- THE ROOT ELEMENT -->
	<xsd:element name="message" type="maee:message" maxOccurs="1" minOccurs="1" />
	<xsd:complexType name="message">
	<xsd:sequence>
		<xsd:element name="timestamp" type="xsd:long" maxOccurs="1" minOccurs="1" />
		<xsd:choice>
			<xsd:element name="sequence" type="xsd:long" maxOccurs="unbound" minOccurs="0" />
			<xsd:element name="title" type="xsd:string" maxOccurs="unbound" minOccurs="0" />
		</xsd:choice>
	</xsd:sequence>
